.app-sidebar{
    width: 30vw;
    height: 100vh;
    border-right: 1px solid #535bf2;
    
   
}

.sidebar-header{
    display: flex;
    justify-content:space-between;
    
}
.sidebar-header h1{
    margin: 20px 0 10px 20px;
}
.sidebar-header button{
    color:grey;
    margin-right: 40px;
    background: none;
    border-color: none;
}
.sidebar-header button:hover{
    border-color: #535bf2;
}
.sidebar-notes{
    height:80vh;
    overflow-y: scroll;
}
.sidebar-note{
    padding: 25px;
    cursor: pointer;
    transition: all 0.3s;
}
.sidebar-note-title{
    display: flex;
    justify-content: space-between;
}
.sidebar-note-title button{
    color: #999;
    
}

.sidebar-note p{
    margin: 10px 0;

}
.sidebar-note time{
    color: #999;
}
.sidebar-note:hover{
    background-color: #f1f0f0;
}
.sidebar-note.active{
    background-color: #535bf2 ;
    
}
.deletebutton:hover{
    border-color:red ;
}